/* RESET DAS CONFIGURAÇÕES DO SERVIDOR */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.index {
    background-image: url(assets/satoru-gojo.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-right: 50%;

}

.pagina-2 {
    background-image: url(assets/ryomen\ sukuna.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-right: 50%;
    
}

.pagina-3 {
    background-image: url(assets/Son-Goku.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin-right: 50%;
}



button {
    background: #000000;
    border: 1px solid #666;
    padding: 10px 25px;
    border-radius: 4px;
    transition: 0.3s;
}

button:hover {
    background: #555;
    border-color: #fff;
    transform: scale(1.05);
}

button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.h1-index {
    font-size: 50px;
    color: #95c3ff;
    text-align: center;
}

.h1-pagina-2 {
    font-size: 50px;
    color: #ff0000;
    text-align: center;
}

.h1-pagina-3 {
    font-size: 50px;
    color: #ff9d00;
    text-align: center;
}



p {
    color: #ffffff;
    font-size: 30px;
}


button {
    display: block;
    padding: 1px 30px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px auto;
    background-color: rgba(0, 0, 0, 0.252);
    color: red;

}

a {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    border: none;
}